<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="Goko.org.goko.ui.gkPreferencePage">
      <page
            class="org.goko.tinyg.preferences.TinyGPreferencesPage"
            id="org.goko.tinyg.page2"
            name="TinyG"
            targetBoard="tinyg.v097">
      </page>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferenceStoreProvider">
      <provider
            class="org.goko.tinyg.controller.prefs.TinyGPreferenceStoreProvider"
            id="org.goko.tinyg.provider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="org.goko.targetboard.tinyg">
         <with variable="org.goko.targetBoard">
            <equals value="tinyg.v097">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            targetBoard="tinyg.v097"
            uri="fragments/TinyGFragment.e4xmi">
      </fragment>
   </extension>

</plugin>
