<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragments/TinyGFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"            
            locationURI="popup:formsToolBar">
         <command
               commandId="org.goko.tinyg.commands.configuration.refresh"
               icon="icons/arrow-circle-double.png"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePages">
      <page
            class="org.goko.tinyg.configuration.TinyGFirmwarePreferencePage"
            id="org.goko.tinyg.firmwarePreferences"
            name="TinyG">
      </page>
   </extension>

</plugin>
