<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragment/DROFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePages">
      <page
            class="org.goko.base.dro.preferences.DROPreferencesPage"
            id="org.goko.dro.displayPreferences"
            name="Digital read out">
      </page>
   </extension>

</plugin>