<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragment/DROFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePage">
      <page
            class="org.goko.tools.dro.preferences.DROPreferencesPage"
            id="org.goko.tools.dro.displayPreferences"
            name="Digital read out">
      </page>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferenceStoreProvider">
      <provider
            class="org.goko.tools.dro.preferences.DROPreferenceStoreProvider"
            id="org.goko.tools.dro.provider">
      </provider>
   </extension>

</plugin>
