<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.goko.core.workspace.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment/WorkspaceFragment.e4xmi">
      </fragment>
      <fragment
            apply="initial"
            uri="fragment/WorkspacePartFragment.e4xmi">
      </fragment>
   </extension>

</plugin>
