<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragments/gcodeViewer.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePages">
      <page
            class="org.goko.viewer.jogl.preferences.performances.JoglPerformancesPreferences"
            id="org.goko.jogl.viewer.preferences.viewer"
            name="Viewer">
      </page>
      <page
            category="org.goko.jogl.viewer.preferences.viewer"
            class="org.goko.viewer.jogl.JoglViewerPreferences"
            id="org.goko.jogl.viewer.preferences.rotaryaxis"
            name="Rotary axis">
      </page>
   </extension>

</plugin>
