<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.goko.gcode.rs274ngcv3.ui.modifier.factory" name="modifierFactory" schema="schema/org.goko.gcode.rs274ngcv3.ui.modifier.factory.exsd"/>
   <extension
         id="org.goko.gcode.rs274ngcv3.ui.RS274UIOpenFragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="resources/fragments/RS274UIOpenFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePage">
      <page
            class="org.goko.gcode.rs274ngcv3.ui.workspace.preferences.renderingformat.RenderingFormatPreferencePage"
            id="org.goko.gcode.rs274ngcv3.ui.gcode.rendering"
            name="GCode">
      </page>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferenceStoreProvider">
      <provider
            class="org.goko.gcode.rs274ngcv3.ui.workspace.preferences.renderingformat.RenderingFormatPreferenceStoreProvider"
            id="org.goko.gcode.rs274ngcv3.ui.gcode.rendering.provider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.goko.gcode.rs274ngcv3.ui.workspace.preferences.renderingformat.RenderingFormatPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
