<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.goko.gcode.rs274ngcv3.ui.modifier.factory" name="modifierFactory" schema="schema/org.goko.gcode.rs274ngcv3.ui.modifier.factory.exsd"/>
   <extension
         id="org.goko.gcode.rs274ngcv3.ui.RS274UIOpenFragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="resources/fragments/RS274UIOpenFragment.e4xmi">
      </fragment>
   </extension>

</plugin>
