<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="org.goko.ui.gkPreferencePage" name="org.goko.ui.gkPreferencePage" schema="schema/org.goko.ui.gkPreferencePage.exsd"/>
   <extension-point id="org.goko.ui.gkPreferenceStoreProvider" name="org.goko.ui.gkPreferenceStoreProvider" schema="schema/org.goko.ui.gkPreferenceStoreProvider.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Goko"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="Goko">
         </property>
         <property
               name="applicationXMI"
               value="Goko/fragment/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/Goko/css/default.css">
         </property>
         <property
               name="windowImages"
               value="icons/launch/goko16.png,icons/launch/goko32.png,icons/launch/goko48.png,icons/launch/goko64.png,icons/launch/goko128.png,icons/launch/goko256.png">
         </property>
      </product>
   </extension>   
   <extension
         point="Goko.org.goko.ui.gkPreferencePage">
      <page
            class="org.goko.preferences.units.GokoUnitsPreferences"
            id="Goko.preferencePages.general.units"
            name="Units">
      </page>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferenceStoreProvider">
      <provider
            class="org.goko.core.config.GokoConfigPreferenceStoreProvider"
            id="org.goko.core.preference.provider">
      </provider>
   </extension>

</plugin>
