<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.goko.tools.serial.jssc.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragments/JsscControlsFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePage">
      <page
            class="org.goko.tools.serial.jssc.preferences.connection.SerialConnectionPreferencesPage"
            id="org.goko.tools.serial.jssc.preferences.connection"
            name="Serial connection">
      </page>
      <page
            category="org.goko.tools.serial.jssc.preferences.connection"
            class="org.goko.tools.serial.jssc.preferences.console.JsscConsolePreferencesPage"
            id="org.goko.tools.serial.jssc.console"
            name="Console">
      </page>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferenceStoreProvider">
      <provider
            class="org.goko.tools.serial.jssc.preferences.connection.SerialConnectionPreferenceStoreProvider"
            id="org.goko.tools.serial.jssc.provider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.goko.tools.serial.jssc.preferences.connection.SerialConnectionPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
