<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.goko.controller.grblv11.model"
         point="org.goko.core.ui.e4.model">
      <fragment
            apply="initial"
            targetBoard="grbl.v11"
            uri="resources/fragments/Grblv11fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
