<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id2"
         point="org.goko.core.featureset.model">
      <fragment
            apply="always"
            targetBoard="grbl.v08"
            uri="fragments/GrblFragment.e4xmi">
      </fragment>
   </extension>


</plugin>
