<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.goko.gcode.rs274ngcv3.jogl.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="resources/fragments/RS274ngcv3_jogl.e4xmi">
      </fragment>
   </extension>

</plugin>
