<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment/CommandPanelFragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="Goko.org.goko.ui.gkPreferencePages">
   </extension>

</plugin>
